.textarea-container {
  display: flex;
  flex-direction: column;
}

.textarea-component {
  width: 500px;
  height: 200px;
}

.textarea-container_startover_button {
  width:  100px;
  height: 50px;
  margin-top: 50px;
  background-color: turquoise;
  color: white;
  border-radius: 5px;
}