.Madlib {
  background-color: rgb(60, 60, 233);
  height: 700px;
}

.Madlib_forms-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.Madlib_textarea-component {
  display: flex;
  justify-content: center;
}
