.App {
  background-color: rgb(60, 60, 233);
  height: 700px; 
}

.App_forms-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.App_textarea-component {
  display: flex;
  justify-content: center;
}